.utils-main-container {
    display: flex;
    flex-direction: column;
    gap: 160px;

    margin-top: 96px;
    margin-bottom: 96px;
}

@media (max-width: 550px) {
    .utils-main-container { 
        gap: 120px
    }
}